@import '_vars';
@import '_reset';
@import '_mixing';
@import '_header';
@import '_services';
@import '_store';

body {
    font-family: $roboto;
    color: $black;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.container {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.section__btn {
    color: $white;
    background: $green;
    border-radius: 6px;
    padding: 11px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}

.section__title {
    text-align: center;
    &-text {
        font-family: $Source_Serif_Pro;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        color: $green;
        margin: 13px 0;
        text-align: center;
    }
    &-description{
        max-width: 591px;
        margin: 0 auto;
        text-align: center;
    }
}